.lora{
  font-family: 'Lora', serif;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
  cursor: pointer;
  transition: all;
}
/* transition duration-300 hover:bg-gray-100 py-1 pl-5 pr-20 */
.dropdown{
 padding: .3rem 5rem .3rem 1.4rem;
  transition: all;
}
/* .dropdown:hover{
  background-color: rgb(194, 192, 192);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
} */

/* body{
  font-family: 'Raleway', sans-serif;
} */