.lora {
  font-family: 'Lora', serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
  transition: all;
}

/* transition duration-300 hover:bg-gray-100 py-1 pl-5 pr-20 */
.dropdown {
  padding: .3rem 5rem .3rem 1.4rem;
  transition: all;
}

/* .dropdown:hover{
  background-color: rgb(194, 192, 192);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
} */

/* body{
  font-family: 'Raleway', sans-serif;
} */
.Shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.Btn {
  width: 180px;
  height: 42px;
  padding: 16px 32px;
  margin: 6px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;
  opacity: .9;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 13px;
  letter-spacing: .4px;
  line-height: 1;
  outline: 0;
}

.Stripe {
  width: 119px;
  aspect-ratio: auto 119 / 26;
  height: 26px;
}

.ProductHunt {
  width: 250px;
  height: 54px;
}

.FeatureIntro{
  max-width: 500px;
  margin: 0 auto 60px;
}

/* .Container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */